.loginMenu {
  color: black;
  text-decoration: none;
  text-align: center;
}
#loginDiv {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 500px;
  text-align: center;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
#loginDiv input {
  width: 300px;
  height: 50px;
  background-color: ghostwhite;
}

#loginDiv input[type="submit"] {
  width: 100%;
  background-color: mediumslateblue;
  color: white;
}

#loginDiv table {
  margin-left: auto;
  margin-right: auto;
}

#loginDiv img {
  margin-top: 50px;
  margin-bottom: 50px;
}
