#divSummary {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  border: solid darkgray 1px;
}
#divSummary div {
  width: 100%;
  height: 100%;
}
#divSummary table {
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  width: 1000px;
}

#divSummary input {
  border: none;
  background-color: mediumslateblue;
  color: white;
  margin-bottom: 10px;
}

#dcRate {
  color: saddlebrown;
  font-weight: bolder;
  text-align: center;
  font-size: 25px;
}
#thumbnail {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#orginalPrice {
  text-decoration-line: line-through;
  color: gray;
  font-size: 15px;
}
#dcPrice {
  font-weight: bolder;
  font-size: 25px;
}
.productSummary {
  margin-left: auto;
  margin-right: auto;
}
#totalPrice {
  color: saddlebrown;
  font-size: 25px;
  font-weight: bolder;
}
#productName {
  font-weight: bolder;
  font-size: 30px;
}

.stockDelete {
  background-color: white;
}
#divDetail {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  text-align: center;
}
#divDetail img {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 1000px;
  height: 1000px;
  object-fit: contain;
}
.btnCount {
  background-color: mediumslateblue;
  color: white;
  width: 20px;
  height: auto;
  border: 0px;
}
.btnDelete {
  background-color: white;
  width: 5px;
  height: 5px;
  border: 0px;
}
